.letter-container{
    position: absolute;
    right: 5vw;
    top: 5vh;
    /* background-color: red; */
    height: 80vh;
    width: 40vw;
    perspective: 500px;
    transform: rotate3d(0,1,0,0deg)

}

.letter-animation-1 {
    color: #8a2eb205;
    transition: all 200ms;
    font-size: 4rem;
    z-index: 1;
    -webkit-text-stroke: 1px #8a2be2ff;
    cursor: default;
}

.letter-animation-1:hover{
    cursor: default;
    color: #8a2be2d0;
    text-shadow: 2px -3px 30px #ca2be2d0;
}


  
  
  